<main  class="relative overflow-hidden">

  <div class="relative mx-auto px-8 max-w-7xl py-24  md:px-12">
    <div class="mx-auto text-center ">

      <h1
        class="text-white  font-bold md:text-6xl text-3xl tracking-tight">
        La comida de PERU <span class="md:block">con NCY's MEALS</span>
      </h1>
      <div class="flex justify-center flex-col gap-3 mt-10 sm:flex-row">
        <a
          class="items-center h-12 justify-center font-semibold rounded-full 
          border-red-800 duration-500 focus:outline-none inline-flex px-6 py-3 
          text-center w-full text-white-500  lg:w-auto border 
          focus-visible:outline-negroni-500 text-white bg-red-800 hover:bg-white hover:text-red-800"
          href="#">Envíanos tu pedido</a
        >
      </div>
    </div>

  </div>
</main>
