
<main>
    <section class="grid grid-cols-1 md:grid-cols-2">
        <div class="">
            <h2 class="text-2xl text-white text-center">Contáctanos</h2>
            <p class="text-lg text-white text-center">Si tienes alguna duda con tu pedido puedes contactarnos directamente a través de:</p>
            <div class="bg-red-800 p-2 mx-2">
            <div class="grid grid-cols1 md:grid-cols-2 w-80 m-auto md:w-full">
                <h5 class="text-lg text-white text-center my-auto">Nuestro email:</h5>
                <h5 class="text-2xl text-white text-center p-2 hover:rounded-lg hover:cursor-pointer hover:bg-slate-200 duration-200 hover:text-red-800">email@email.com</h5>
            </div>
            <div class="grid grid-cols1 md:grid-cols-2 w-80 m-auto md:w-full">                
                <h5 class="text-lg text-white text-center my-auto">Nuestro teléfono</h5>
                <h5 class="text-2xl text-white text-center p-2 hover:rounded-lg hover:cursor-pointer hover:bg-slate-200 duration-200 hover:text-red-800">600000000</h5>
            </div>
        </div>
            <p class="text-lg text-white text-center">Estaremos encantados de ayudarte</p>
            <img src="#" alt="platoDelDía">
        </div>

        <form action="#" method="POST" class="flex flex-col bg-red-800 p-2 mx-2">
            <div class="flex flex-col p-4">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre" class="rounded-md p-2">
            </div>
            <div class="flex flex-col  p-4">
                <label for="email"></label>
                <input type="email" name="email" placeholder="Email" class="rounded-md p-2">
            </div>
            <div class="flex flex-col  p-4">
                <label for="phone"></label>
                <input type="number" name="phone" placeholder="Teléfono de Contacto" class="rounded-md p-2">
            </div>
            <div class="flex flex-col  p-4">
                <label for="message"></label>
                <textarea name="message" placeholder="Mensaje" class="rounded-md p-2"></textarea>
            </div>
        </form>
    </section>
</main>