---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import Header from "../components/global/Navigation.astro";

const ruta= "/contact"
const frase = "Contáctanos"
---

<html lang="en">
  <head>
    <BaseHead/>
  </head>

  <body class="bg-red-600">
    <Header  ruta={ruta} frase={frase}/>
    <slot />
<Footer/>
  </body>
</html>
