---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/global/Footer.astro";
import Header from "../components/global/Navigation.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>

  <body class="bg-red-600">
    <Header/>
    <slot />
<Footer/>
  </body>
</html>
